{% extends "shared/base.html" %}

{% block css %}
<link rel="stylesheet" type="text/css"  href="x.css"/>
{% endblock %}

{% block title %} 
  <title>Job Board</title>
{% endblock %}


{% block content %}
  <div class="container">
    <h1 class="display-4">Инструмент для скоринга LGD</h1>
  </div>

  <div class="container">
    <h2 class="display-3"> Введите файл формата csv для построения скоринга</h2>
  </div>

<label class="custom-file-upload">
  <form method="post" action="/upload" enctype="multipart/form-data">
    <input type="file" name = "file" accept="text/csv">
    <button type="submit">Отправить файл
    </button>
  </form>
</label>

{% endblock %} 